<div *ngIf="availableTextures != null; else onLoad" class="nav-content import-texture">
  <app-drop-zone
    [dropPromptText]="'Texturen hier hinzufügen'"
    (fileAdded)="onFileAdded($event)">
  </app-drop-zone>
  <app-drop-controls
    [list]="queuedTextureResources"
    (deleteAll)="queuedTextureResources = []"
    (submitAll)="importAllTextures()">
  </app-drop-controls>
  <!-- item list -->
  <mat-list *ngFor="let texture of queuedTextureResources" class="import-list">
    <mat-divider></mat-divider>
    <div class="import-list-item">

      <mat-icon *ngIf="texture.state == FileState.SUCCESSFUL" color="primary">
        done
      </mat-icon>
      <mat-icon *ngIf="texture.state == FileState.FAILED" color="warn">
        cancel
      </mat-icon>
      <div  class="import-list-item-content">
        <span>{{texture.file.name}}</span>
      </div>
      <div class="import-list-item-action">
        <!--
        <mat-form-field [floatLabel]="'never'" [(ngModel)]="texture.type.name">
          <input matInput>
          <mat-hint align="start"><strong>Texturname</strong></mat-hint>
        </mat-form-field>
        -->
        <!-- TODO make import file changeable -->
        <button *ngIf="texture.state == FileState.AWAIT"
                mat-raised-button color="primary" (click)="importTexture(texture)">
          <mat-icon>publish</mat-icon>
        </button>
        <button *ngIf="texture.state != FileState.SUCCESSFUL" mat-raised-button color="warn"
                (click)="deleteTextureEntry(texture)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list>
</div>
<ng-template #onLoad>
  <app-error-load [errorMessage]="errorLoadMsg" (onRetry)="loadAvailableTextures()"></app-error-load>
</ng-template>
