html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
}

#editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;  
}

#toolbar {
  background-color: lightgray;
  overflow: hidden;
}
.toolbar-row {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
  border: solid black 1px;
}
.toolbar-row:before {
  content: attr(data-name);
  position: absolute;
  top: -10px;
  left: 2px;
  background-color: lightgray;
}

#holder {
  position: relative;
  flex-grow: 1;
}

.center {
  display: inline-block;
  white-space: nowrap;
  position: absolute;  
  left: 50%;  
  transform: translate(-50%, -50%);
  top: 50%;  
}

.page {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 400px;
  height: 600px;
  box-shadow: 0 0 4px;
  position: relative;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
}

.text {
  position: absolute;
  margin: 0;
  transition: background-color 1s;
}
.text:focus,
.text:hover {
  background-color: lightgray;
}

#toolBox {
  position: absolute;
  transform: translateY(-100%);
  background-color: #8c8585;
  white-space: nowrap;
}

#toolBox button {
  position: relative;
  width:  20pt;
  height: 20pt;
  box-sizing: border-box;
  padding: 0;
  margin: 1px;
}

#toolBox #moveBtn {
  position: absolute;
  transform: translateX(-100%);
}