html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
}

#horizontal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

#editor-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  background-color: #ffffee;
}

#right-container {
  width: 20%;
  max-width: 300px;
  background-color: lightgray;
  position: relative;
}

#preview-container {
  position: relative;
  width: 100%;
  max-width: 512px;
}
#preview-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#preview-container>img {
  position: absolute;
  width: 100%;
}
#preview-container>img::before {
  position: absolute;
}

.render-select{
  margin-left: 2px;
}

.lower-btn {
  width: 200px;
  max-width: 90%;
  display: inline-block;
  margin-bottom: 5px;
}

#save-btn {
  width: 100%;
  font-size: 22px;
}

#submit-btn {
  font-size: 22px;
  margin: 0 0 5px 0;
}
#save-btn {
  box-sizing: border-box;
  display: inline-block;
}

#submit-btn,
#save-btn {
  padding: 10px;
}

#toolbar {
  display: flex;
  background-color: lightgray;
  padding: 5px 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.toolbar-row {
  background-color: inherit;
  padding: 0 5px;
  height: 100%;
}
.toolbar-row:nth-child(n+2) {
  border-left: solid gray 1px;
}
.toolbar-row>* {
  padding: 4px 0;
}
.toolbar-label {
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  background-color: lightgray;
  border-bottom: solid black 1px;
}
.toolbar-buttons {
  display: flex;
  justify-content: center;
}
#toolbar button {
  padding: 8px 16px;
  font-size: 13px;
  margin: 2px;
}

#tools-div {
  display: flex;
}

#fontSelect {
  outline: none;
  display: block;
  width: 100%;
}
#fontSizeSelect {
  outline: none;
  max-width: 6ex;
  background: white;
  font-size: inherit;
  text-align: right;
  box-sizing: border-box;
  border: solid transparent 1px;
  border: none;
}

#lh-spinner {
  outline: none;
  text-align: right;
  max-width: 6ex;
  background: white;
  font-size: inherit;
  box-sizing: border-box;
  border: solid transparent 1px;
  border: none;
}

.text-tools-block {
  display: inline-block;
}

#text-btns {
  margin-top: 5px;
  margin-left: 5px;
  transform: translateY(-1px);
}
#text-btns button {
  width: 28px;
  height: 28px;
  padding: 0;
}

#font-line-select {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#font-line-select>div {
  margin-left: 25px;
}

#editor-area {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.nav-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-btn.left {
  left: 30px;
}
.nav-btn.right {
  right: 30px;
}

.nav-btn-inner {
  transform-origin: center;
  transform: scale(1, 1);
  transition: transform 0.25s;
  height: 100%;
  background-image: url("./arrow.png");
  background-size: contain;
  background-repeat: round;
}
.left>.nav-btn-inner{
  transform: scaleX(-1);
}
.left>.nav-btn-inner:hover {
  transform: scale(-2, 2);
}
.right>.nav-btn-inner:hover {
  transform: scale(2, 2);
}

.center {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#editor-area {
  position: relative;
  z-index: 0;
}
#editor-area>.center {
  perspective: 1000px;
  perspective-origin: center bottom;
  position: relative;
  tab-index: 0;
}

#recenter-btn {
  float: right;
}

.ruler {
  background-color: #d1d5d4;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ruler::before,
.ruler::after {
  content: '';
  position: absolute;
  background-color: #d1d5d4;
}
.ruler.top {
  width: calc(100% + 10px);
  height: 50px;
  top: -60px;
}
.ruler.top::before {
  content: 'CM';
  text-align: center;
  padding-top: 15px;
  height: 100%;
  box-sizing: border-box;
  left: -60px;
  width: 60px;
}
.ruler>li {
  position: absolute;
  display: inline-block;
}
.ruler.top>li {
  bottom: 0;
  border-right: 1px solid black;
  height: 10px;
}
.ruler>li:nth-child(2n+1)::after {
  content: attr(data-val);
  position: absolute;
}
.ruler.top>li:nth-child(2n+1) {
  height: 20px;
}
.ruler.top>li:nth-child(2n+1)::after {
  bottom: 0;
  transform: translate(-50%, -21px);
}
.ruler.left {
  height: calc(100% + 10px);
  left: -60px;
  width: 50px;
}
.ruler.left::before {
  width: 100%;
  top: -10px;
  height: 10px;
}
.ruler.left>li {
  right: 0;
  border-bottom: 1px solid black;
  width: 10px;
}
.ruler.left>li:nth-child(2n+1) {
  width: 20px;
}
.ruler.left>li:nth-child(2n+1)::after {
  right: 0;
  transform: translate(-22px, -9px);
}

#card-container {
  perspective: 1000px;
  perspective-origin: center bottom;
}

#transform-anchor,
.page-bundle {
  transform-style: preserve-3d;
}

.page-bundle {
  box-shadow: 0 0 4px;
  display: inline-block;
  position: relative;
  transition: transform .5s, z-index .5s;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
.page>* {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}
.page>.folds-layer {
  pointer-events: none;
}
.page.front {
  position: absolute;
  left: 0;
  transform: translateZ(-1px);
}
.page.front>*:not(.folds-layer) {
  transform: rotateY(-180deg);
}

.text {
  position: absolute;
  margin: 0;
  transition: background-color 1s;
  outline: none;
}
.text:focus,
.text:hover {
  background-color: rgba(200, 200, 200, 0.6);
}

.text p {
  margin: 0;
  padding: 0;
}

.text span {
  font-style: normal;
  font-weight: 400;
}
.text .b {
  font-weight: 700;
  font-weight: bold;
}
.text .i {
  font-style: italic;
}
.text .u {
  text-decoration: underline;
}

.floater {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#editor-area .floater {
  z-index: 1;
}

.floater.top {
  top: 0;
}
.floater.bottom {
  bottom: 0;
}
.floater.bottom span {
  font-size: large;
}
.floater.bottom ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.floater.bottom li {
  border: 1px solid black;
  border-radius: 9999px;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  transition: background-color 0.25s;
}
.floater.bottom li.active {
  background-color: #8c8585;
}

#font-select {
  position: static;
}
.select-ex {
  position: relative;
}
.select-ex-label {
  overflow: clip;
}
.select-ex>p {
  border: solid gray 1px;
  background-color: white;
  transition: border-color .25s;
  margin: 0;
  padding: 0;
}
.select-ex>p:hover {
  border-color: black;
}
.select-ex-tick {
  float: right;
  transition: border-color .25s, background-color .25s;
  border-left: solid transparent 1px;
}
.select-ex>p:hover>.select-ex-tick {
  background-color: lightgray;
  border-left-color: black;
}
.select-ex>p span {
  padding: 5px 10px;
  display: inline-block;
}
.select-ex-options {
  position: absolute;
  border: solid gray 1px;
  box-sizing: border-box;
  min-width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}
.select-ex-options>p {
  margin: 0;
  padding: 5px 10px;
}
.select-ex-options>p:hover {
  background-color: lightgray;
  transition: background-color .25s;
}

#font-label {
  min-width: 150px;
  max-width: 250px;
  height: 25px;
}
#font-tick {
  height: 25px;
  text-align: center;
  font-size: 16px;
  width: 25px;
}

#fontSizeSelect {
  outline: none;
  max-width: 50px;
}

.fontTypeButton[value=b] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23003F73" d="M0 0h26v26H0z"/><path fill="%23FFF" d="M7.823 4.753h10.713v3.251h-6.734v4.004h6.292v3.224h-6.292v7.046H7.823V4.753z"/></svg>');
}
.fontTypeButton[value=b]:hover:active {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23E6E6E6" d="M0 0h26v26H0z"/><path d="M7.823 4.753h10.713v3.251h-6.734v4.004h6.292v3.224h-6.292v7.046H7.823V4.753z"/></svg>');
}
.fontTypeButton[value=b]:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23B8B8B8" d="M0 0h26v26H0z"/><path fill="%23FFF" d="M7.823 4.753h10.713v3.25h-6.734v4.004h6.292v3.225h-6.292v7.047H7.823V4.753z"/></svg>');
}
.fontTypeButton[value=i] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23003F73" d="M0 0h26v26H0z"/><path fill="%23FFF" d="M10.336 4.753h2.158l-1.638 8.528.13-.025c.598-.729 1.196-1.353 1.716-1.95l6.162-6.553h2.704l-7.384 7.54 4.524 9.984h-2.366l-3.822-8.605-2.106 1.949-1.273 6.656H7.008l3.328-17.524z"/></svg>');
}
.fontTypeButton[value=i]:hover:active {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23E6E6E6" d="M0 0h26v26H0z"/><path d="M10.336 4.753h2.158l-1.638 8.528.13-.025c.598-.729 1.196-1.353 1.716-1.95l6.162-6.553h2.704l-7.384 7.54 4.524 9.984h-2.366l-3.822-8.605-2.106 1.949-1.273 6.656H7.008l3.328-17.524z"/></svg>');
}
.fontTypeButton[value=i]:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23B8B8B8" d="M0 0h26v26H0z"/><path fill="%23FFF" d="M10.336 4.753h2.158l-1.638 8.528.13-.026c.598-.728 1.196-1.352 1.716-1.949l6.162-6.553h2.704l-7.384 7.541 4.524 9.984h-2.366l-3.822-8.607-2.106 1.951-1.273 6.656H7.008l3.328-17.525z"/></svg>');
}
.alignmentBtn[value=left] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23003F73" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M3.319 10.554h10.794M3.319 15.445h19.362M3.319 20.338h13.444"/></svg>');
}
.alignmentBtn[value=left]:hover:active {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23E6E6E6" d="M0 0h26v26H0z"/><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M3.319 5.661h19.362M3.319 10.554h10.794M3.319 15.445h19.362M3.319 20.338h13.444"/></svg>');
}
.alignmentBtn[value=left]:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23B8B8B8" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M3.319 10.554h10.794M3.319 15.445h19.362M3.319 20.338h13.444"/></svg>');
}
.alignmentBtn[value=center] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23003F73" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M7.603 10.554h10.793M3.319 15.445h19.362M6.278 20.338h13.444"/></svg>');
}
.alignmentBtn[value=center]:hover:active {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23E6E6E6" d="M0 0h26v26H0z"/><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M3.319 5.661h19.362M7.603 10.554h10.793M3.319 15.445h19.362M6.278 20.338h13.444"/></svg>');
}
.alignmentBtn[value=center]:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23B8B8B8" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M7.603 10.554h10.793M3.319 15.445h19.362M6.278 20.338h13.444"/></svg>');
}
.alignmentBtn[value=right] {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23003F73" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M11.887 10.554h10.794M3.319 15.445h19.362M9.237 20.338h13.444"/></svg>');
}
.alignmentBtn[value=right]:hover:active {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23E6E6E6" d="M0 0h26v26H0z"/><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M3.319 5.661h19.362M11.887 10.554h10.794M3.319 15.445h19.362M9.237 20.338h13.444"/></svg>');
}
.alignmentBtn[value=right]:hover {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"><path fill="%23B8B8B8" d="M0 0h26v26H0z"/><path fill="none" stroke="%23FFF" stroke-width="2" d="M3.319 5.661h19.362M11.887 10.554h10.794M3.319 15.445h19.362M9.237 20.338h13.444"/></svg>');
}

#color-div {
  display: flex;
  margin: 2px
}
#toolbar #apply-color {
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}
#toolbar #apply-color:hover {
  background-color: lightgray;
}
#toolbar #apply-color:active {
  background-color: darkgray;
}
#color-picker {
  visibility: collapse;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
#toolbar #color-tick {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="26" xmlns="http://www.w3.org/2000/svg"><path fill="%23707070" d="M1.074 7.63l3.927 10.737L8.927 7.63H1.074z"/></svg>');
  margin: 0;
  border-left: none;
}

.hFold{
  position: absolute;
  background-color: deeppink;
  width: 100%;
  height: 1px;
}

.vFold{
  position: absolute;
  background-color: deeppink;
  width: 1px;
  height: 100%;
}

#fileUpload {
  display: none;
}

.logo{
  position: absolute;
}

button {
  font-family: Arial, sans-serif;
  background-color: #003f73;
  border: #003f73 solid thin;
  color: white;
  text-align: center;
  transition: background-color 0.3s,color 0.3s;
  border-radius: 0;
  outline: none;
}
button:hover {
  background-color: white;
  color: #003f73;
}
button:active {
  background-color: #007ae1;
  color: white;
}
button.active {
  background-color: #007ae1;
  color: white;
}

#resize-handles {
  position: absolute;
  pointer-events: none;
}

#resize-handles>div {
  background-color: magenta;
  position: absolute;
  pointer-events: initial;
}

#handle-top,
#handle-bottom {
  height: 2px;
  width: 100%;
  cursor: ns-resize;
}
#handle-left,
#handle-right {
  width: 2px;
  height: 100%;
  cursor: ew-resize;
}
#handle-top    {    top: -2px; }
#handle-bottom { bottom: -2px; }
#handle-left   {   left: -2px; }
#handle-right  {  right: -2px; }

#handle-top::after,
#handle-left::after,
#handle-bottom::after,
#handle-right::after {
  content: '';
  position: absolute;
  display: block;
  background-color: white;
  border: solid magenta 1px;
}
#handle-top::after,
#handle-bottom::after {
  left: 50%;
  transform: translateX(-50%);
  width: .75em;
  height: .5em;
}
#handle-left::after,
#handle-right::after {
  top: 50%;
  transform: translateY(-50%);
  width: .5em;
  height: .75em;
}
#handle-top::after    { bottom: 0; }
#handle-left::after   {  right: 0; }
#handle-bottom::after {    top: 0; }
#handle-right::after  {   left: 0; }

.preserve-ratio>* {
  cursor: auto !important;
}
.preserve-ratio>#handle-top::after {
  left: 0;
  transform: translateX(-100%);
  height: 0.75em;
  cursor: nw-resize;
}
.preserve-ratio>#handle-left::after {
  top: unset;
  bottom: 0;
  transform: translateY(100%);
  width: 0.75em;
  cursor: sw-resize;
}
.preserve-ratio>#handle-bottom::after {
  left: unset;
  right: 0;
  transform: translateX(100%);
  height: 0.75em;
  cursor: se-resize;
}
.preserve-ratio>#handle-right::after {
  top: 0;
  transform: translateY(-100%);
  width: 0.75em;
  cursor: ne-resize;
}

#upl-des-btn {
  width: 100%;
  font-size: 22px;
  margin-bottom: 5px;
  padding: 5px 0;
}

#upl-des {
  display: none;
}