<div *ngIf="availableTextures != null; else onLoad" class="nav-content import-texture">
  <app-drop-zone
    [dropPromptText]="'Texturen hier hinzufügen'"
    (fileAdded)="onFileAdded($event)">
  </app-drop-zone>
  <app-drop-controls
    [list]="elements"
    [showClearSuccessful]="hasSuccessfulFiles"
    (deleteAll)="deleteAll()"
    (submitAll)="submitAll()"
    (clearSuccessful)="clearSubmitted()">
  </app-drop-controls>
  <!-- item list -->
  <mat-list *ngFor="let texture of elements" class="import-list">
    <mat-divider></mat-divider>
    <div class="import-list-item">
      <!-- import state indicator -->
      <mat-icon *ngIf="texture.state == FileState.SUCCESSFUL" color="primary">
        done
      </mat-icon>
      <mat-icon *ngIf="texture.state == FileState.FAILED" color="warn">
        cancel
      </mat-icon>
      <div class="import-list-item-content">
        <span>{{texture.file.name}}</span>
        <button mat-mini-fab color="primary" (click)="changeMapping(texture)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="import-list-item-action">
        <span *ngIf="texture.type!=undefined">für Textur: {{texture.type.name}}</span>
        <button *ngIf="texture.state == FileState.FAILED" [disabled]="texture.type == undefined || texture.type.id == undefined"
                mat-raised-button color="warn" (click)="submit(texture)">
          <mat-icon>replay</mat-icon>
        </button>
        <button *ngIf="texture.state == FileState.AWAIT" [disabled]="texture.type == undefined || texture.type.id == undefined"
                mat-raised-button color="primary" (click)="submit(texture)">
          <mat-icon>publish</mat-icon>
        </button>
        <button mat-raised-button color="warn"
                (click)="delete(texture)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list>
</div>
<ng-template #onLoad>
  <app-error-load [errorMessage]="errorLoadMsg" (onRetry)="loadAvailableTextures()"></app-error-load>
</ng-template>
