<div class="nav-content">
  <ng-container *ngIf="file !== null; else awaitUpload">
    <div class="import-list-item">
      <div class="import-list-item-content">
        <span>{{file.name}}</span>
      </div>
      <div class="import-list-item-action">
        <button (click)="importFile()" mat-raised-button color="primary">
          <mat-icon>publish</mat-icon>
          <span>Importieren</span>
        </button>
        <button (click)="removeSelected()" mat-raised-button color="warn">
          <mat-icon>delete</mat-icon>
          <span>Löschen</span>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #awaitUpload>
    <app-drop-zone
      [dropPromptText]="'Kartentabelle hier hinzufügen'"
      (fileAdded)="fileAdded($event)"></app-drop-zone>
  </ng-template>
</div>
