<div *ngIf="availableFormats != null; else onLoad" class="nav-content import-motive-default">
  <app-drop-zone
    [dropPromptText]="'Standardmotvievorlagen hier hinzufügen'"
    (fileAdded)="onFileAdded($event)">
  </app-drop-zone>
  <app-drop-controls
    [list]="elements"
    [showClearSuccessful]="hasSuccessfulFiles"
    (deleteAll)="deleteAll()"
    (submitAll)="submitAll()"
    (clearSuccessful)="clearSubmitted()">
  </app-drop-controls>
  <!-- item list -->
  <mat-list *ngFor="let defaultMotive of elements" class="import-list">
    <mat-divider></mat-divider>
    <div class="import-list-item">
      <!-- import state indicator -->
      <mat-icon *ngIf="defaultMotive.state == FileState.SUCCESSFUL" color="primary">
        done
      </mat-icon>
      <mat-icon *ngIf="defaultMotive.state == FileState.FAILED" color="warn">
        cancel
      </mat-icon>
      <div class="import-list-item-content">
        <span>{{defaultMotive.file.name}}</span>
        <button mat-mini-fab color="primary" (click)="changeMapping(defaultMotive)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="import-list-item-action">
        <span *ngIf="defaultMotive.type!=undefined">für Format ID: {{defaultMotive.type.id}}</span>
        <button *ngIf="defaultMotive.state == FileState.FAILED" [disabled]="defaultMotive.type == undefined || defaultMotive.type.id == undefined"
                mat-raised-button color="warn" (click)="submit(defaultMotive)">
          <mat-icon>replay</mat-icon>
        </button>
        <button *ngIf="defaultMotive.state == FileState.AWAIT" [disabled]="defaultMotive.type == undefined || defaultMotive.type.id == undefined"
                mat-raised-button color="primary" (click)="submit(defaultMotive)">
          <mat-icon>publish</mat-icon>
        </button>
        <button mat-raised-button color="warn"
                (click)="delete(defaultMotive)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-list>
</div>
<ng-template #onLoad>
  <app-error-load [errorMessage]="errorLoadMsg" (onRetry)="loadAvailableTextures()"></app-error-load>
</ng-template>
